img{

    width: 100%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.user-name{
    margin-top: 20px;
}


h1 , h2{
   font-size: 1rem;
   margin: 0;
   padding: 0;
   text-align: center;
   color:white;
 
}


.App{
    background-color: rgb(87, 57, 100);
    max-width: 250px;
border-radius: 20px;
    margin: 0 auto;
    height: 350px;
    margin-top: 250px;
}